.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0;
}

.profile {
  width: 80vw;
  border: 1px solid yellow;
  margin: 5vh 0;
}

.app p {
  text-align: justify;
  margin: 2vh 10vw 6vh 10vw;
}

.clickButton {
  width: 30vw;
  background-color: yellow;
  border-radius: 10%;
  border: 1px solid orange;
}

.clickButton:active {
  background-color: orange;
  border: 1px solid yellow;
}

@media screen and (min-width: 1200px) {
  .profile {
    width: 25vw;
  }

  .app p {
    width: 50vw;
  }

  .clickButton {
    width: 10vw;
  }
}

